{% extends "layout.html" %}

{% block body %}

{% if session["user_id"] %}
<div class="row" style="padding-top: 40px;">
  <div class="col-md-8 offset-md-2">
    <br/>
    <h4 style="margin-bottom: 30px;">Search Your Book:</h4>
    <form action="{{ url_for('search') }}" method="POST">
      <div class="form-group">
          <input name="search" type="text" placeholder="Search..." class="form-control">
      </div>
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
  </div>
</div>
{% else %}
<img style="max-width: 100%; height:auto;" src="static/images/home.jpg" alt="">

{% endif %}

{% endblock %}