<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script>
    document.addEventListener("DOMContentLoaded", () => {

      // Start by loading first page.
      load_page('first');

      // Set links up to load new pages.
      document.querySelectorAll(".link").forEach(link => {
        link.onclick = () => {
          load_page(link.dataset.page);
          return false;
        }
      });

    });

    // Update text on popping state /press on back button/
    window.onpopstate = (e) => {
      const data = e.state;
      //console.log(data)
      document.title = data.title;
      document.querySelector(".content").innerHTML = data.text
    }
   
   // Renders contents of new page in main view.
   function load_page(name){
      const request = new XMLHttpRequest();
      request.open('GET', `/${name}`);
      request.onload = () => {
        const response = request.responseText
        document.querySelector(".content").innerHTML = response;

        //Push state to URL
        document.title = name;
        //Update the URL tha we currently we on
        history.pushState({'title': name, 'text': response}, name, name)
        //history.pushState - how we manipulate HTML5 history
        //null - any data that I want associated with me pushing this URL
        //name - title of the page we trying to push
        //name - URL that we push
      }
    request.send();    
   }
   
  </script>

  <title>Single Page</title>
</head>
<body>
  <ul>
    <li><a href="" class="link" data-page="first">First page</a></li>
    <li><a href="" class="link" data-page="second">Second page</a></li>
    <li><a href="" class="link" data-page="third">Third page</a></li>
  </ul>

  <div class="content"></div>
</body>
</html>