{% extends "layout.html" %}


{% block title %}
Add new review
{% endblock %}

{% block body %}
<div class="row" style="padding-top: 60px;">
  <div class="col-md-8 offset-2">
    <h2>{{ book.title }}</h2>
    <p>(by {{ book.author }}, {{ book.year }})</p>
    <form action="{{ url_for('add_review', book_id=book.id) }}" method="POST">
      <div class="form-group">
        <label>What's your opinion about it?</label>
        <textarea name="content" class="form-control" rows="3"></textarea>
      </div>
      <span>Your rating: </span>
      <div class="stars">
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </div>
      
      <!-- <div class="form-group">
        <label for="Select1">Your rating</label>
        <select name="rating" class="form-control" id="Select1">
          <option value="" selected disabled>choose</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div> -->
      <button style="margin-top: 20px; display: block;" class="btn btn-secondary">Post</button>
    </form>


  </div>   
</div>
<style>
  .stars {
    margin-top: 5px;
  }
  .fa-star {
    font-size: larger;
    cursor: pointer;
  }
  .fa-star:hover {
    color: red;
  }
  .checked {
    color: red;
  }
  
</style>
<script>
  stars = document.getElementsByClassName("fa-star")
  for(let i=0; i<stars.length; i++){

  document.addEventListener("DOMContentLoaded", function(){
      stars[i].onclick = change;
 
  });

  function change(){
    for(let j=0; j<=i; j++){
      stars[j].style.color = "green";
    }
  }
}
  


    
 
  
</script>


{% endblock %}

